*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    background-color: #1A3636;

}
.card{
    margin: 200px auto;
    background-color: #222831;
    width: 300px;
    padding: 2rem;
    text-align: center;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    position: relative;
}
h2{
    color: antiquewhite;
}
.card p{
    margin: 20px auto;
    color: antiquewhite;
}
@property --angle{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false; 

}
.card::after,.card::before{
    content: "";
    position: absolute;
    height: 102%;
    width: 102%;
    background-image: conic-gradient(from var(--angle), transparent 70%,rgb(13, 219, 102));
    top: 50%;
    left: 50%;
    translate: -155px -197px;
    z-index: -1;
    padding-left: 5px;
    padding-top: 10px ;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    animation: round 3s linear infinite;
    -webkit-animation: round 3s linear infinite;
}
.card::before{
    filter: blur(1.5rem);
    -webkit-filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes round{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}